---
layout: default
title: Events
---

<div class="row">
  <ul class="breadcrumbs">
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li class="current">Events</li>
  </ul>
</div>

<div class="row">

  <p class="panel googlegroup" style="text-align: center;"><i class="fi-mail"></i> Want to get event updates &amp; announcements via e-mail?  Join our <a href="https://groups.google.com/forum/#!forum/umn-code-work" target="_blank">Google Group</a>.</p>


  <div id="eventscalendar" class="small-12 large-6 columns">
    <iframe src="https://www.google.com/calendar/embed?height=450&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=umn.edu_ua789826o9ih01vd8f5kdb99cc%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FChicago" style=" border-width:0 " width="100%" height="450" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="small-12 large-6 columns">
    <h1>Upcoming events:</h1>
    <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1" data-equalizer>
      {% for post in site.categories['upcoming_events'] reversed %}

        {% if post.host %}
          <li class="panel" data-equalizer-watch>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <strong><span class="event_time"><i class="fi-clock"></i><time datetime="{{post.date|date:"%F"}}"> {{post.date|date:"%b %d, %Y"}}; {{post.start_time}} - {{post.end_time}}</time></span></strong><br/>
            <strong><span class="location"><i class="fi-marker"></i> {{ post.location }}</span></strong><br />
            <strong><span class="event_host"><i class="fi-torso"></i> {{ post.host }}</span></strong><br />
            <div class="excerpt">{{ post.excerpt }}</div>
          </li>
        {% else %}
          <li class="panel callout" data-equalizer-watch>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <strong><span class="event_time"><i class="fi-clock"></i><time datetime="{{post.date|date:"%F"}}"> {{post.date|date:"%b %d, %Y"}}; {{post.start_time}} - {{post.end_time}}</time></span></strong><br/>
            <strong><span class="location"><i class="fi-marker"></i> {{ post.location }}</span></strong><br />
            <div class="excerpt">{{ post.excerpt }}</div>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </div>

</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <h1>Past events:</h1>
</div>

<div class="row" data-equalizer>
  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1" data-equalizer>

    {% for post in site.categories['past_events'] %}

      {% if post.host %}
        <li class="panel" data-equalizer-watch>
          <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
          <strong><span class="event_time"><i class="fi-clock"></i><time datetime="{{post.date|date:"%F"}}"> {{post.date|date:"%b %d, %Y"}}</time></span></strong><br/>
          <strong><span class="event_host"><i class="fi-torso"></i> {{ post.host }}</span></strong><br />
          <div class="excerpt">{{ post.excerpt }}</div>
        </li>
      {% else %}
        <li class="panel callout" data-equalizer-watch>
          <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
          <strong><span class="event_time"><i class="fi-clock"></i><time datetime="{{post.date|date:"%F"}}"> {{post.date|date:"%b %d, %Y"}}</time></span></strong><br/>
          <div class="excerpt">{{ post.excerpt }}</div>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</div>
