---
layout: default
title: Home
---

<div class="row">
  <h1>Welcome to CodeWork!</h1>
  <div class="large-9 small-8 columns">
    <p>We are a group at the University of Minnesota interested in looking at computer code and the
      various ways it influences our lives. We are curious about how code shapes our lives in ways that
      go beyond mere functionality&mdash;including, for example, how code shapes our experiences of identity,
      privacy, history, citizenship, teaching and learning, art and creativity, etc. When examining code, we
      believe that it's necessary to adopt a variety of lenses drawn from across the spectrum of
      knowledge production. Instead of focusing on disciplines, we envision our collaborative as a
      space for interdisciplinary engagement and collaboration.  Our aim is to pool
      together multiple voices, experiences, and ways of investigating code-work.
    </p>
    <p>We also hope to explore some practices common to coding communities&#8212;things like algorithmic
      problem-solving, collaborative development processes, version management, hackathons, agile project
      management, etc.&#8212;and consider ways these practices could enrich our academic community.
    </p>
    <p class="panel googlegroup large-4 columns" style="margin-right: 3%; line-height: 1.5em;"><span style="font-size: 1.5em;"<i class="fi-mail"></i> W</span>ant to get event updates &amp; announcements via e-mail?  Join our <a href="https://groups.google.com/forum/#!forum/umn-code-work" target="_blank">Google Group</a>.</p>
    <p>Our work is supported by the University of Minnesota's <a href="http://ias.umn.edu/" target="_blank">
      Institute for Advanced Studies</a>.  They are a resource to help foster interdisciplinary collaborations
      among students, faculty and staff at the University of Minnesota. They support a number of fascinating
      collaboratives and events across the U of M, so please take some time and see what other projects they
      are currently supporting!
    </p>
  </div>

  <div class="large-3 small-4 columns">
    <img class="logo" src="{{site.baseurl}}/images/UMNlogo.png" >
    <img class="logo" src="{{site.baseurl}}/images/IASlogo.png" >
  </div>
  <hr>
</div>


<div class="row">
  <h2>Latest events and posts</h2>
</div>

<!-- Show last X posts here -->
{% for post in paginator.posts %}
<div class="row">
  <article class="paginator">
    <header>
      <h3><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h3>
      <!--<span class="date"><i class="fi-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>-->
      <!--<span class="category"><i class="fi-list-thumbnails"></i> {{ post.categories | category_links }}</span><br/>-->
      <!--<span class="author"><i class="fi-torso"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>-->
    </header>
    <div class="excerpt">{{ post.excerpt }}</div>
  </article>
</div>
{% endfor %}

<div class="row">
  <hr>
</div>

<div id="paginator" class="row">
  {% if paginator.next_page %}
    <a class="button" href="{{site.baseurl}}/page{{paginator.next_page}}">&laquo; Older Posts</a>
  {% endif %}

  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <span class="more"><a class="button" href="{{site.baseurl}}/">Newer Posts &raquo; </a></span>
    {% else %}
    <span class="more"><a class="button" href="{{site.baseurl}}/page{{paginator.previous_page}}">Newer Posts &raquo; </a></span>
    {% endif %}
{% endif %}
</div>
