<div class="icon-bar large four-up">
  <a class="item" aria-labelledby="#itemlabel1" href="{{site.baseurl}}/">
    <i class="fi-home"></i>
    <label id='itemlabel1'>Home</label>
  </a>
  <a class="item" aria-labelledby="#itemlabel2" href="{{site.baseurl}}/events.html">
    <i class="fi-calendar"></i>
    <label id='itemlabel2'>Events</label>
  </a>
  <a class="item" aria-labelledby="#itemlabel3" href="{{site.baseurl}}/projects.html">
    <i class="fi-paperclip"></i>
    <label id='itemlabel3'>Projects</label>
  </a>
  <a class="item" aria-labelledby="#itemlabel4" href="{{site.baseurl}}/contact.html">
    <i class="fi-comments"></i>
    <label id='itemlabel4'>Contact</label>
  </a>
</div>
