---
layout: default
---

<div class="row">
  <ul class="breadcrumbs">
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/projects.html">Projects</a></li>
    <li class="current">{{ page.title }}</li>
  </ul>
</div>

<div class="row">
  <article>
    <header>
      <h2>{{ page.title }}</h2>
        <span class="category"><i class="fi-list-thumbnails"></i> {{ page.categories | category_links }}</span><br/>
        {% if page.contact %}
          <span class="project-contact"><i class="fi-torso"></i> {{page.contact}} </span>
        {% endif%}
    </header>

    <div class="row">
      <!--<div class="panel callout excerpt large-3 medium-4 columns">{{ page.excerpt }}</div>-->
      <div class="large-4 medium-4 columns">
        <div class='window'>
          <div class='head'>
            <a href="#" class='btn'>&#10005;</a>
            <a href="#" class='btn stnd'>&#9472;</a>
            <a href="#" class='btn stnd max'>&#9723;</a>
            <span>admin@codework:~</span>
          </div>
          <div class='term'>
            <p>admin@codework:~$ sudo codework</p>
            <p class="term-desc">
              {{ page.excerpt }}
            </p>
            <p>admin@codework:~$ <span class='cursor'>&#9610;</span></p>
          </div>
        </div>
      </div>

      <div class="content large-8 medium-8 columns">{{ page.content | markdownify }}</div>
    </div>

  </article>

</div>
